:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  place-items: center;
 
}
.container{
  display: grid;
  grid-template-areas:
    "ant num sig"
    "elig elig reset";
  align-items:last baseline;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

#app {
  grid-area: num;
  display: flex;
  flex-direction:column;
  margin: 1rem;
  padding: 5rem;
  /* text-align: center; */
  border: solid red 1px;
  
  
}

#marcadorPrincipal {
  border: solid #1d1c1c 3px;
  min-height: 8rem;
  min-width: 8rem; 
  color:#008c2a;
  background-color: antiquewhite;
  align-self: center;
  align-content: center;
  text-align: center; 
  font-size: 3rem;
}

.botonAnterior{
  grid-area: ant;
  align-self: end;
  margin-bottom: 1rem;
  
}
.botonSiguiente{
  grid-area: sig;
  align-self: end;
  margin-bottom: 1rem;
  

}
#botonReset{
  grid-area: reset;
}
.pasarTurno{
  display: inline-flex;
  flex-wrap: nowrap;
  grid-area: elig;
}

#marcadorSecundario{
  background-color: antiquewhite;
  color: #1d1c1c;
  width: 2rem;
  height: 1rem;
  align-self: center;
  align-content: center;
  text-align: center;
  margin-inline: 0.75rem;
}


